#gameContainer{
	margin:0 auto;
	width:280px;
	border:3px solid white;
	border-radius: 10px;
	padding:10px;
}
.gameBoard {
	position: relative;
	margin:0 auto;
}
	div.section {
		height: 40px;
	}
	div.section div{
		width: 40px;
		height: 40px;
		display: inline-block;
	}
	div.brick{
		background: url('../images/dirt.png');
	}
	div.coin{
		background: url('../images/dirt.png');
		background-position: center;
		background-repeat: none;
	}
	div.cherry{
		background: url('../images/dirt.png');
		background-position: center;
		background-repeat: none;
	}
	div.grass{
		background: url('../images/grass.png');
		background-position: center;
		background-repeat: none;
	}
	div.finish{
		background: url('../images/hole.png');
		background-position: center;
		background-repeat: none;
	}
	div#pacman{
		background: url('../images/gopherP2.gif');
		background-position: center;
		background-repeat: none;
		width:40px;
		height:40px;
		position: absolute;
	}
	div.empty{
		background: none;
	}
	div#score{
		border:3px solid white;
		border-radius: 5px;
		width:70px;
		height:20px;
		padding:7px;
		margin:35px;
		display: inline-block;
		vertical-align: top;
		text-align: center;
		color: white;
	}
	#score:before{
		content:'Score: ';
	}