#gameContainer{
	margin:0 auto;
	width:280px;
	border:3px solid white;
	border-radius: 10px;
	padding:10px;
}
.gameBoard {
	position: relative;
	margin:0 auto;
}
	div.section {
		height: 40px;
	}
	div.section div{
		width: 40px;
		height: 40px;
		display: inline-block;
	}
	div.brick{
		background: url('../images/dirt.png');
	}
	div.coin{
		background: url('../images/dirt.png');
		background-position: center;
		background-repeat: none;
	}
	div.cherry{
		background: url('../images/dirt.png');
		background-position: center;
		background-repeat: none;
	}
	div.grass{
		background: url('../images/grass.png');
		background-position: center;
		background-repeat: none;
	}
	div.finish{
		background: url('../images/hole.png');
		background-position: center;
		background-repeat: none;
	}
	div#pacman{
		background: url('../images/forward.gif');
		background-position: center;
		background-repeat: none;
		width:40px;
		height:40px;
		position: absolute;
	}
	div.empty{
		background: none;
	}
	div#score{
		border:3px solid white;
		border-radius: 5px;
		width:120px;
		height:20px;
		padding:7px;
		margin: 10px auto;
		display: inline-block;
		vertical-align: top;
		text-align: center;
		color: white;
	}
	#score:before{
		content:'Score: ';
	}

@keyframes shake {
  0% {transform: translateX(0);}
  12.5% {transform: translateX(-6px) rotateY(-5deg)}
  37.5% {transform: translateX(5px) rotateY(4deg)}
  62.5% {transform: translateX(-3px) rotateY(-2deg)}
  87.5% {transform: translateX(2px) rotateY(1deg)}
  100% {transform: translateX(0)}
}

@-webkit-keyframes shake {
  0% {-webkit-transform: translateX(0);}
  12.5% {-webkit-transform: translateX(-6px) rotateY(-5deg)}
  37.5% {-webkit-transform: translateX(5px) rotateY(4deg)}
  62.5% {-webkit-transform: translateX(-3px) rotateY(-2deg)}
  87.5% {-webkit-transform: translateX(2px) rotateY(1deg)}
  100% {-webkit-transform: translateX(0)}
}

.shake {
  -webkit-animation: shake 600ms ease-in-out;
  animation: shake 600ms ease-in-out;
}