<div class="row">
	<div class="two columns">
		<img class="logo" src="../assets/images/Mini_Logo.png" alt="Gopher Escape">
	</div>
	<div class="eight columns">
		<div class="nav">
			<div class="navGroup">
				<a class="buttonPlain" href="#!/home" >Home</a>
			</div>
			<div class="navGroup">
				<a class="buttonPlain" href="#!/profile" >Profile</a>
			</div>
			<div class="navGroup" ng-if="length.max > user.level">
				<a class="buttonSuccess" href="#!/game/{{user.level}}">Lets Play</a>
			</div>
		</div >
	</div>
	<div class="two columns">
		<a class="buttonFail" ng-click="logOut()" >Logout</a>
	</div>
</div>
<div class="row">
	<div class="seven columns">
		<h1>Hello {{user.name}}</h1>
		<h4>My Level: {{user.level}}</h4>
		<h4>Overall Score:{{user.points}}</h4>
		<div ng-hide="length.max+1 > user.level">
			<h3>More Levels Coming Soon!</h3>
		</div>
		<h1>MESSAGE BOARD</h1>
		<form class="messageBox" ng-model="message">
			<label>Messages:</label>
			<textarea type='text' ng-model='message.message' ></textarea> 
			<a class="buttonSuccess" ng-click='addmessage(message, user._id)'>Post</a>
		</form>
		<div class="messBoard">
			<div class="messageBoardGroup" ng-repeat="x in messages | orderBy: 'created_at':true ">
				<p>{{x._user.name}}:</p> 
				<p class="messageBoardMess"><span ng-bind="x.createdAt | date:'MMMM dd, yyyy'"></span>: {{x.message}}</p>
			</div>
		</div>
	</div>
	<div class="five columns">
		<a class="buttonSuccess" href="#!/find">Find Friends</a>
		<div class="friendsList">
			<h3>Friend Here:</h3>
			<div class="friendsListItems" ng-repeat="friend in friends.friends"><p><a href="#!/friend/{{friend._id}}">{{friend.gamer_name}}</a> </p><a ng-click="removeFriend(friend._id)" class="buttonFail">Delete</a></div>
		</div>
		<div class="friendsList">
			<h3>Friend Requests:</h3>
			<div class="friendsListItems" ng-repeat="request in req.requests"><p>{{request.gamer_name}} - </p><a ng-click="denyFriend(request._id)" class="buttonFail">Deny</a> <a ng-click="addFriend(request._id)" class="buttonSuccess">Accept</a></div>
		</div>
	</div>
</div>