<div class="row">
	<div class="two columns">
		<img class="logo" src="../assets/images/Mini_Logo.png" alt="Gopher Escape">
	</div>
	<div class="eight columns">
		<div class="nav">
			<div class="navGroup">
				<a class="buttonPlain" href="#!/home" >Home</a>
			</div>
			<div class="navGroup">
				<a class="buttonPlain" href="#!/profile" >Profile</a>
			</div>
			<div class="navGroup">
				<a class="buttonSuccess" href="#!/game/{{user.level}}">Lets Play</a>
			</div>
		</div >
	</div>
	<div class="two columns">
		<a class="buttonFail" ng-click="logOut()" >Logout</a>
	</div>
</div>
<div class="row">
	<div class="formGroup formBox">
		<div class="formBefore"></div>
		<label>Search</label>
		<input type="text" ng-model="search">
		<div class="formAfter"></div>
	</div>
	<div class="usersList"> 
		<div ng-repeat="user in users | filter: search">
			<div class="row underBorder">
				<div class="ten columns">
					<h4 ng-bind="user.gamer_name"></h4>
					<p ng-bind="user.name"></p>
				</div>
				<div class="two columns">
					<a class="buttonSuccess right" ng-click="friend(user._id)">Friend</a>
				</div>
			</div>
		</div>
	</div>
</div>