
<div class="row">
	<div class="two columns">
		<img class="logo" src="../assets/images/Mini_Logo.png" alt="Gopher Escape">
	</div>
	<div class="eight columns">
		<div class="nav">
			<div class="navGroup">
				<a class="buttonPlain" href="#!/home" >Home</a>
			</div>
			<div class="navGroup">
				<a class="buttonPlain" href="#!/profile" >Profile</a>
			</div>
			<div class="navGroup" ng-hide="length.max < user.level">
				<a class="buttonSuccess" href="#!/game/{{user.level}}">Lets Play</a>
			</div>
		</div >
	</div>
	<div class="two columns">
		<a class="buttonFail" ng-click="logOut()" >Logout</a>
	</div>
</div>
<div class="row">
	<div class="eight columns">
		<h1>MESSAGE BOARD</h1>
		<form class="messageBox" ng-model="message">
			<label>Messages:</label>
			<textarea type='text' ng-model='message.message' ></textarea> 
			<a class="buttonSuccess" ng-click='addmessage(message, friend._id)'>Post</a>
		</form>
		<div class="messBoard">
			<div class="messageBoardGroup" ng-repeat="x in messages | orderBy: 'created_at':true ">
				<p>{{x._user.name}}:</p> 
				<p class="messageBoardMess"><span ng-bind="x.createdAt | date:'MMMM dd, yyyy'"></span>: {{x.message}}</p>
			</div>
		</div>
	</div>
	<div class="four columns">
		<h1>{{friend.name}}</h1>
		<h4>Overall Score: {{friend.points}}</h4>
		<h4>Level: {{friend.level}}</h4>
		<h4>Gamer Name: {{friend.gamer_name}}</h4>
		<h4>Gopher Color: {{friend.gopher}}</h4>
	</div>
</div>