<div class="row">
	<div class="two columns">
		<img class="logo" src="../assets/images/Mini_Logo.png" alt="Gopher Escape">
	</div>
	<div class="eight columns">
		<ul class="nav">
			<li><a class="buttonPlain" href="#/home" >Home</a></li>
			<li><a class="buttonPlain" href="#/profile" >Profile</a></li>
		</ul>
	</div>
	<div class="two columns">
		<a class="buttonFail" ng-click="logOut()">Logout</a>
	</div>
</div>
 <p style="color:white">{{level}}</p>
  <p style="color:white">{{user.name}}</p>
<div class="row">

	<div class="gameBanner">
		<div id="score" ng-bind="score"></div>
	</div>

</div>
<div class="row centerBoard">

	<div id="gameContainer" class="{{animate}}">
		<div class="gameBoard">
			<div id="world" ng-bind-html="showIt()"></div>
			<div id="pacman" ng-keypress="onkeydown()"></div>	
		</div>
	</div>

</div>

  <div id="content">
    <h1 class="blackText">Look at me!</h1>
    <p class="blackText">I'm a modal window.</p>
    <a class="buttonPlain" ng-click="replay()">Replay</a>
    <a class="buttonFail" ng-click="exit()">Exit</a>
    <a class="buttonSuccess" ng-click="next()">Next</a>
  </div>